.container {
    max-width: 800px;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    padding: 0 15px;
}

.team-icon {
    max-height: 300px;
    width: auto;
}

.basic_info__wrap {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.squad__wrap {
    display: flex;
    gap: 10px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 5px;
    margin-bottom: 10px;
    justify-content: space-evenly;
}

.squad__cell {
    width: 25%
}

